---
# config.yaml.example
# example config file to populate

# Paths
VENV_PATH: "$HOME/PhantomBulk/env"

PHANTOM_DIR: "$HOME/phantom"  # Change this if necessary (e.g., ~/Software/phantom/)
PYTHON_SCRIPT: "$HOME/PhantomBulk/src/PhantomBulk/main.py"

# Setup Templates
SETUP_TEMPLATE: "$HOME/PhantomBulk/templates/dustysgdisc.setup"
REFERENCE_FILE: "$HOME/PhantomBulk/templates/ref4.1.para"       

# PHANTOM Setup Type
PHANTOM_SETUP_TYPE: "default" # Options: default, setup1, setup2, etc.

# System & Job Information
JOB_SCHEDULER: "SLURM" 
CPUS_PER_TASK: "20"
PARTITION: "batch"
MAIL_TYPE: "FAIL"
N_TASKS: "1"
TIME: "6-23:59:59"
MEM: "10G"

# Your Information
USER_EMAIL: "annadmitrieff@uga.edu"

# Simulation Parameters
N_SIMS: 10
OUTPUT_DIR: "$HOME/PhantomBulk/outputs/"

# Logging
log_level: "INFO"

# Random Seed for Reproducibility
seed: 42

# Constraints
constraints:
  min_star_mass: 0.08    # Brown dwarf limit
  max_star_mass: 2.5     # Typical T Tauri limit
  min_disk_mass: 0.0001  # Minimum detectable disk mass
  max_disk_mass: 0.1     # Gravitational stability limit
  min_r_in: 0.01         # Dust sublimation radius in AU
  max_r_out: 1000.0      # Typical outer disk limit in AU
  min_aspect: 0.01       # Minimum stable H/R
  max_aspect: 0.25       # Maximum physical H/R
  min_dtg: 0.001         # Depleted dust-to-gas
  max_dtg: 0.1           # Enhanced dust-to-gas
  min_grain: 1e-5        # Minimum grain size (cm)
  max_grain: 1.0         # Maximum grain size (cm)
  min_metallicity: 0.1   # Minimum metallicity relative to solar
  max_metallicity: 2.0   # Maximum metallicity relative to solar
  min_B_field: 1e-6      # Minimum magnetic field strength in Gauss
  max_B_field: 1e-4      # Maximum magnetic field strength in Gauss

# Additional Paths for Post-processing
# These are optional; MCFOST is not installed as a module on my HPC and thus warrants these workarounds... include as you see fit
MCFOST_EXEC: "~/Software/mcfost"  # Path to MCFOST executable
LD_LINUX: "~/local/glibc-2.34/lib/ld-linux-x86-64.so.2"  # Path to LD Linux